<div class ="container my-5">
  <div class ="row ml-5">
    <h3 class ="bg-warning">
      <strong><%= @customer.last_name %><%= @customer.first_name %></strong>
      さんの<strong>会員詳細</strong>
    </h3>
  </div>

  <div class ="row mt-4">
    <div class ="offset-sm-1 col-sm-8">
      <table class ="table table-borderless font-weight-bold">
        <tbody>
          <tr>
            <td class ="col-sm-3">会員ID</td>
            <td class ="col-sm-6"><%= @customer.id %></td>
          </tr>
          <tr>
            <td class ="col-sm-3">氏名</td>
            <td class ="col-sm-6"><%= @customer.last_name %><%= @customer.first_name %></td>
          </tr>
          <tr>
            <td class ="col-sm-3">フリガナ</td>
            <td class ="col-sm-6"><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
          </tr>
          <tr>
            <td class ="col-sm-3">郵便番号</td>
            <td class ="col-sm-6"><%= @customer.postal_code %></td>
          </tr>
          <tr>
            <td class ="col-sm-3">住所</td>
            <td class ="col-sm-6"><%= @customer.address %></td>
          </tr>
          <tr>
            <td class ="col-sm-3">電話番号</td>
            <td class ="col-sm-6"><%= @customer.telephone_number %></td>
          </tr>
          <tr>
            <td class ="col-sm-3">メールアドレス</td>
            <td class ="col-sm-6"><%= @customer.email %></td>
          </tr>
          <tr>
            <td class ="col-sm-3">会員ステータス</td>
            <td class ="col-sm-6"><%= @customer.active_text %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class ="row my-5">
    <div class ="action offset-sm-3 col-sm-2">
      <%= link_to "編集する", edit_admin_customer_path, class: "btn btn-success btn-lg" %>
    </div>
    <div class ="action ml-5 mb-5">
      <%= link_to "注文履歴一覧を見る", admin_orders_index_path(@customer), class: "btn btn-primary btn-lg"%>
    </div>
  </div>
</div>
